{% extends 'base.html' %} <!-- We want it to base template but to populate info for home page inside -->
{% block title %} Home {% endblock %} <!-- inside of the title block, insert 'Home' -->
{% block content %} <!-- inside of the block content, insert 'Welcome to the Flask Jinja2 application' -->
<h1>Welcome to My Flask App</h1>
<p>Explore the different pages using the navigation bar above!</p>
<p><a href="/tennis" style="color: #2860e1; font-weight: bold; text-decoration: underline;">Tennis Game</a></p>
{% endblock %}